.banner {
    display: flex;

}

.slogan {
    width: 60%;
    padding: 100px;
}

.slogan>button {
    color: white;
}

.man {
    width: 40%;
    height: 40%;
}

span {
    color: rgba(126, 144, 254, 1);
}

.jobs-section {
    text-align: center;
}

.catagories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.catagories div>img {
    padding: 15px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
}

.catagories div {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    border-radius: 8px;
    padding: 20px;
}

.featured_jobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.featured_sec>.button {
    width: fit-content;
    margin: 10px 662px;
    color: white;
}
@media screen and (max-width:667px){
    .banner{
        display: inline;
    }
    .catagories,.featured_jobs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .slogan,.man{
        width: 100%;
        padding: 10px;
    }
    .featured_sec>.button {
        width: fit-content;
        margin: 10px 146px;
        color: white;
    }
}